<main class="prose">
  <section id="test">
  <h1>
    What's the best way to give advice?
  </h1>
  <p>No one has the same life experience you do.</p>
  <p>No one understands why you think the way you do.</p>
  <p>No one can hear your inner monologue except you.</p>
  <p>And if that’s true of ourselves, then it is probably true for others as well. Isn’t it?</p>
  <p>So why do we feel the need to tell someone else what they should do next? Or how to handle a specific situation?</p>
  <p><em>Maybe we shouldn’t.</em></p>
  <p>Advice is a tricky thing.</p>
  <p>When you give advice, there are a couple of scenarios that could occur:</p>
  <ol>
  <li>They listen to your advice and it works out</li>
  <li>They listen to your advice and it doesn’t work out</li>
  <li>They don’t listen to your advice and it works out</li>
  <li>They don’t listen to your advice and it doesn’t work out</li>
  </ol>
  <p>In every one of those scenarios, you can (and probably do) lose. Maybe in a big way, maybe just a little.</p>
  <h2>They listen to your advice and it works out</h2>
  <p>This sounds great, right?</p>
  <p>You helped them out, and they got what the result they wanted. So what’s the problem?</p>
  <p>They didn’t do it for themselves.</p>
  <p>It’s a victory for you, not for them.</p>
  <p>When a similar situation arises in the future, it’s not themselves they’ll lean on but that advice they got from you.</p>
  <h2>They listen to your advice and it doesn’t work out</h2>
  <p>Now your advice is attached to a failure.</p>
  <p>Why should they listen to you again?</p>
  <p>It didn’t work last time, who knows if it’ll work next time.</p>
  <p>And if you’ve given them advice that worked in the past, this could overshadow all the “good” things.</p>
  <p>Maybe those were just a fluke?</p>
  <h2>They don’t listen to your advice and it works out</h2>
  <p>They won, but you lost.</p>
  <p>Since they didn’t listen to you and they got what they wanted, your relationship now takes a hit.</p>
  <p>If you were wrong about that, what else might you be wrong about?</p>
  <h2>They don’t listen to your advice and it doesn’t work out</h2>
  <p>Nobody wins, and there’s not really any strong footing on either side.</p>
  <p>You feel slighted, because they didn’t follow your advice and they didn’t get what they wanted.</p>
  <p>They feel slighted, because if they followed your advice maybe there would’ve been a different result. But even then it would be a hollow victory, since they wouldn’t have decided that for themselves (clearly they didn’t because they did something else).</p>
  <p>What a mess.</p>
  <p>So if advice isn’t the answer, what is?</p>
  <p>A question:</p>
  <blockquote>“What do you think you should do?”</blockquote>
  </section>
</main>
