<section>
  <h1>
    Book List for Developers and Software Engineers
  </h1>
  <p>This is a non-exhaustive list of books (not necessarily technical) spurred on by this Twitter thread. It focuses particularly on books to help juniors improve their job placements. But most are beneficial for all levels, and for more than just work.
  I’ll add/revise this list as appropriate. At the time of this compilation (March 2021), it’s in no particular order.</p>
  <ul>
    <li><a href="https://www.amazon.com/dp/0596518382/ref=cm_sw_r_cp_api_glt_fabc_F9M1YJZ091G45F9XZBP5" target="_blank"><em>Apprenticeship Patterns</em></a></li>
    <li><a href="https://www.amazon.com/dp/0135957052/ref=cm_sw_r_cp_api_glt_fabc_MAT7K4K7BKZMG6C6JSQD" target="_blank"><em>The Pragmatic Programmer</em></a></li>
    <li><a href="https://basecamp.com/books/getting-real" target="_blank"><em>Getting Real</em></a></li>
    <li><a href="https://www.amazon.com/dp/1578644283/ref=cm_sw_r_cp_api_glt_fabc_1QD8W0BMFM6FB70M4ENY" target="_blank"><em>Seeking Wisdom</em></a></li>
    <li><a href="https://www.amazon.com/dp/0787976393/ref=cm_sw_r_cp_api_glt_fabc_QKWF5TXFHA2WAN4A0NZZ" target="_blank"><em>Getting Naked</em></a></li>
    <li><a href="https://www.amazon.com/dp/0399590455/ref=cm_sw_r_cp_api_glt_fabc_V1AX84D9HKJAXA1YBY2S" target="_blank"><em>Incerto</em></a></li>
    <li><a href="https://theseniorsoftwareengineer.com/" target="_blank"><em>The Senior Software Engineer</em></a></li>
    <li><a href="https://refactoringui.com/book/" target="_blank"><em>Refactoring UI</em></a></li>
    <li><a href="https://www.amazon.com/dp/1250194466/ref=cm_sw_r_cp_api_glt_fabc_J818548MVSJN26DRJXVC" target="_blank"><em>Creative Selection</em></a></li>
    <li><a href="https://www.amazon.com/dp/1544501056/ref=cm_sw_r_cp_api_glt_fabc_06VQ2YWAWDA16NWKS04B" target="_blank"><em>Break the Wheel</em></a></li>
    <li><a href="https://www.amazon.com/dp/006238841X/ref=cm_sw_r_cp_api_glt_fabc_9TSMTXWRGJ826TXMQ57Z" target="_blank"><em>Alchemy</em></a></li>
    <li><a href="https://www.amazon.com/dp/0887307280/ref=cm_sw_r_cp_api_glt_fabc_N84Y7BMW5KQJ2J2G4F25" target="_blank"><em>The E-Myth Revisited</em></a></li>
    <li><a href="https://www.amazon.com/dp/0887307280/ref=cm_sw_r_cp_api_glt_fabc_N84Y7BMW5KQJ2J2G4F25" target="_blank"><em>So Good They Can't Ignore You</em></a></li>
    <li><a href="https://www.amazon.com/dp/1250118360/ref=cm_sw_r_cp_api_glt_fabc_E1AJ8VPA97D5Z75HNAR5" target="_blank"><em>Algorithms to Live By</em></a></li>
    <li><a href="https://www.amazon.com/dp/006285268X/ref=cm_sw_r_cp_api_glt_fabc_C4FWERW1ZR515RANG84N" target="_blank"><em>Ultralearning</em></a><em>&nbsp;</em>by Scott Young</li>
    <li><a href="https://www.amazon.com/dp/1118905555/ref=cm_sw_r_cp_api_glt_fabc_XM0RCHKVNTW4B5ZYA0PD" target="_blank"><em>Everybody Writes</em></a><em>&nbsp;</em>by Ann Handley</li>
    <li><a href="https://www.amazon.com/PMA-Effect-John-Joseph/dp/0998344745" target="_blank"><em>The PMA Effect</em></a><em>&nbsp;</em>by John Joseph</li>
  </ul>
  <blockquote>Notice any errors, have a better link for the author, or want to add something? Email me: morganv at hey.com</blockquote>
</section>
