<section>
  <h1>
    Bookshelf
  </h1>
  <p>This is a list of the books I'm currently reading (or plan to) and books I have read. Where possible, I've linked to my book notes. Very much a <em>work in progress</em>.</p>
  <h2>Current and Future Reading</h2>
  <ul>
    <li><a href="https://www.amazon.com/Engineering-Management-Rest-Sarah-Drasner/dp/B0BHX6NLGZ" target="_blank"><em>Engineering Management for the Rest of Us</em></a> by Sarah Drasner</li>
  </ul>
  <h2>2023</h2>
  <ul>
    <li><a href="https://www.amazon.com/gp/product/1905211201/" target="_blank"><em>The Fifth Discipline: The Art & Practice of The Learning Organization</em></a> by Peter Senge</li>
  </ul>
  <h2>2022</h2>
  <ul>
    <li><a href="https://www.amazon.com/Thinking-Systems-Donella-H-Meadows/dp/1603580557" target="_blank"><em>Thinking in Systems</em></a> by Donella Meadows</li>
  </ul>
  <h2>2021</h2>
  <ul>
    <li><a href="https://www.amazon.com/Never-Split-Difference-Negotiating-Depended/dp/0062407805" target="_blank"><em>Never Split the Difference</em></a> by Chris Voss</li>
  </ul>
  <h2>2020</h2>
  <ul>
    <li><a href="https://www.amazon.com/Scaling-Up-Mastering-Rockefeller-Habits/dp/0986019593" target="_blank"><em>Scaling Up</em></a> by Verne Harnish</li>
  </ul>
</section>
