<main class="prose">
  <section id="greeting">
    <h1>Oh no, that page doesn't exist 😱</h1>
    <p>Maybe try another one?</p>
  </section>

  <section id="articles">
    <h2>My writing</h2>
    <ul>
      <li><a href="/advice">What’s the best way to give advice?</a></li>
    </ul>
  </section>

  <section id="external_articles">
    <h2>Other Articles</h2>
    <p>You view my <a href="https://www.impactplus.com/blog/author/morgan-vanderleest" target="_blank">IMPACT articles here</a>.</p>
  </section>
</main>
