<section id="masthead">
  <h1><a href="/" title="Morgan VanDerLeest">Morgan VanDerLeest</a></h1>
</section>
<main>
  <section id="tldr">
  <h2>
    TLDR
  </h2>
  <p>I’ve been an engineering leader, entrepreneur, engineer, marketing analyst, supply chain analyst, and rideshare driver.</p>
  <p>This is my digital garden. I'm trying to make software engineering and leadership a better place to work. Dad. Ruby + Rails fan. Book Nerd.</p>
  <%# <h2>
    Me in 10 minutes?
  </h2>
  <p>
    See <a href="/about">my “about” page</a>.
  </p>
  <h2>
    What am I doing now?
  </h2>
  <p>
    See <a href="/now">my “now” page</a>.
  </p>
  <h2>
    What do I use?
  </h2>
  <p>
    See <a href="/uses">my “uses” page</a>.
  </p> %>
  </section>

  <section id="articles">
    <h2>My writing</h2>
    <ul>
      <li><a href="/advice">What’s the best way to give advice?</a></li>
    </ul>
  </section>

  <section id="external_articles">
    <h2>Other Articles</h2>
    <p>You view my <a href="https://www.impactplus.com/blog/author/morgan-vanderleest" target="_blank">IMPACT articles here</a>.</p>
  </section>
</main>
