<main class="prose">
  <section id="greeting">
    <h1>Hi, I'm Morgan 👋</h1>
    <p>I’m an engineering leader. I've been an entrepreneur, engineer, marketing analyst, supply chain analyst, and rideshare driver.</p>
    <p>This is my digital garden. I'm trying to make software engineering and leadership a better place to work. Dad. Ruby fan. Book nerd.</p>
  </section>

  <section id="articles">
    <h2>My writing</h2>
    <ul>
      <li><a href="/advice">What’s the best way to give advice?</a></li>
    </ul>
  </section>

  <section id="external_articles">
    <h2>Other Articles</h2>
    <p>You view my <a href="https://www.impactplus.com/blog/author/morgan-vanderleest" target="_blank">IMPACT articles here</a>.</p>
  </section>
</main>
