
<section id="greeting">
  <h1>Hi, I'm Morgan 👋</h1>
  <p>This is my digital garden. I'm trying to make software engineering and leadership a better place to work. Dad. Ruby fan. Book nerd.</p>
</section>

<%= erb :sections %>
