<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Morgan VanDerLeest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/output.css">
</head>
<body>
  <div class="wrapper">
    <section id="masthead" class="mb-4">
      <a href="/" title="Morgan VanDerLeest">Morgan VanDerLeest</a>
    </section>
    <main class="prose">
      <%= yield %>
    </main>
    <section>
      <%= erb :newsletter %>
    </section>
  </div>
</body>
</html>
