<section id="articles">
  <h2>My writing</h2>
  <ul>
    <li><a href="/coaching-engineers-with-questions">Coaching engineers with questions</a></li>
    <li><a href="/advice">What’s the best way to give advice?</a></li>
  </ul>
  <%# <a href="/articles">See all my articles</a> %>
</section>

<section id="lists">
  <h2>Lists and recommendations</h2>
  <ul>
    <li><a href="/bookshelf">My bookshelf</a></li>
    <li><a href="/book-list-for-software-engineers">Books for developers and software engineers</a></li>
  </ul>
</section>

<section id="external_articles">
  <h2>Other Articles</h2>
  <p>You can view my <a href="https://www.impactplus.com/blog/author/morgan-vanderleest" target="_blank">IMPACT articles here</a>.</p>
</section>
